/* --------INDEX.HTML Start----------- */
/* --------INDEX.HTML Start----------- */
.admin-nav {
    padding: 20px 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 50px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.admin-panel:hover {
    transform: scale(1.05) translateZ(0);
}

.admin-panel:active {
    transform: scale(0.95) translateZ(0);
    background-color: #5299a5;
    transition: all 0.05s ease-in;
}

.user-area:hover {
    transform: scale(1.05) translateZ(0);
}

.user-area:active {
    transform: scale(0.95) translateZ(0);
    background-color: #5299a5;
    transition: all 0.05s ease-in;
}

.container.index-container {
    max-width: 500px;
}


.container h1 {
    color: #f1f1f1;
    margin-bottom: 50px;
}

/* Admin panel and user area button styling */
.admin-panel,
.user-area {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5px 10px;
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    backface-visibility: hidden;
    perspective: 1000px;
    transform: translateZ(0);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* --------INDEX.HTML END----------- */
/* --------INDEX.HTML END----------- */