<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{% block title %}Todo App{% endblock %}</title>

    <!-- Main stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    <!-- Flash message stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/flash.css') }}">

    {% block additional_styling %}{% endblock %}
</head>

<body {% if current_user.is_authenticated %}data-user-authenticated="true" {% endif %}>
    <!--  Flash messages container -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-container">
        {% for category, message in messages %}
        <div class="flash-message flash-{{ category }}">
            <div class="message-text">{{ message }}</div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    <!-- Heartbeat script -->
    <script src="{{ url_for('static', filename='utils/heartbeat.js') }}"></script>
    <!-- Heartbeat script -->
    <script src="{{ url_for('static', filename='utils/flash.js') }}"></script>
    <script src="{{ url_for('static', filename='utils/msg.js') }}"></script>

    <!-- Yield to additional scripts block if needed -->
    {% block additional_scripts %}{% endblock %}
</body>

</html>