<!DOCTYPE html>
<html lang="UTF-8">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>{% block title %}Todo App{% endblock %}</title>

    <!-- Main stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <!-- Flash message stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">

    {% block head %}{% endblock %}
</head>


<body>
    <!-- Flash messages container -->
    <div id="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="flash-message flash-{{ category }} show">
            <span class="message-text">{{ message }}</span>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}
    <script src="{{ url_for('static', filename='utils/flash.js') }}"></script>
    <script src="{{ url_for('static', filename='utils/msg.js') }}"></script>
</body>

</html>