{% extends "base.html" %}

{% block title %}Dashboard - Todo App{% endblock %}

{% block content %}
<div class="user_panel">
    <div class="user_nav">
        <div class="user_info">
            <span class="text-bold">Hi, {{ user.username or 'Guest' }}!</span>
            <a href="{{ url_for('routes.logout') }}" class="button-login">Logout</a>
        </div>
    </div>

    <div class="user_data">
        <ul>
            <li><span class="text-bold">ID:</span> {{ user.id or 'Not found!' }}</li>
            <li><span class="text-bold">User:</span> {{ user.username or 'Not found!' }}</li>
            <li><span class="text-bold">Email:</span> {{ user.email or 'Not found!' }}</li>
        </ul>
    </div>
</div>

<div class="container dashboard-container">
    <h1>My To-Do List</h1>


    <ul>
        {% for todo in todos %}
        <li>
            <div class="todo-item">
                <form action="{{ url_for('routes.toggle_todo', todo_id=todo.id) }}" method="POST">
                    <input title="Mark as done" type="checkbox" name="done" {% if todo.done %}checked{% endif %}
                        onchange="this.form.submit()">
                </form>
                <span class="{% if todo.done %}completed{% else %}incomplete{% endif %}">{{ todo.task }}</span>
            </div>
            {% if todo.date_from and todo.date_to %}
            <div class="todo-dates">
                <small>From: {{ todo.date_from|datetime_british }} To: {{ todo.date_to|datetime_british }}</small>
            </div>
            {% endif %}
            <div class="actions">
                <a href="{{ url_for('routes.edit', todo_id=todo.id) }}">Edit</a>
                <form action="{{ url_for('routes.delete', todo_id=todo.id) }}" method="POST">
                    <a href="javascript:void(0)"
                        onclick="if(confirm('Are you sure?')) this.parentNode.submit()">Delete</a>
                </form>
                <a href="{{ url_for('routes.inspect', todo_id=todo.id) }}">Inspect</a>
            </div>
        </li>
        {% endfor %}
    </ul>

    <form class="add-form" action="{{ url_for('routes.add') }}" method="POST">
        <input type="text" id="todo-input" name="todo" placeholder="Add a new task..." required>
        <div class="term-selection">
            <input type="checkbox" id="select-term-checkbox" name="has_date_range" onchange="toggleTermInputs()">
            <label for="select-term-checkbox">Select term</label>
        </div>
        <div id="term-inputs" class="display">
            <label for="date-from">From:</label>
            <input type="datetime-local" id="date-from" name="date_from">
            <label for="date-to">To:</label>
            <input type="datetime-local" id="date-to" name="date_to">
        </div>
        <button type="submit">Add Task</button>
    </form>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="flash-message flash-{{ category }}">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}

{% block scripts %}
<script>
    function toggleTermInputs() {
        var checkbox = document.getElementById('select-term-checkbox');
        var termInputs = document.getElementById('term-inputs');
        termInputs.style.display = checkbox.checked ? 'block' : 'none';
    }
</script>
{% endblock %}