{% extends "base.html" %}

{% block title %}Login panel - Todo App{% endblock %}

{% block additional_styling %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}

<div class="container login-container">
    <h2>Login</h2>
    <form method="POST">
        <input type="text" name="username" placeholder="Username" value="{{ username }}" autocomplete="username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? Register <a href="{{ url_for('routes.register') }}" class="register-link">Here</a></p>
</div>

{% endblock %}